<div style="margin: 20px 20px 20px 20px; height: 100%;">
  <div fxLayout fxLayoutGap="20px" style="height: 100%;">
    <div fxFlex="35" style="width: 100%;">
      <mat-card style="background-color: #005daa; height: 100%; width: 80%;">
        <div fxLayout="column" style="height: 100%;">
          <div fxFlex="1">&nbsp;</div> 
          <div fxFlex="20" fxLayoutAlign="center">
            <div fxLayou>                           
              <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <div fxFlex style="margin-right: -40px; margin-top: -10px; z-index: 10;">
                  <img src="assets/images/ghat_2.png" width="120px" height="80px" style="opacity: 0.8;" />
                </div>
                <div fxFlex style=" margin-right: -20px; margin-top: -20px;">
                  <h1 style="padding-right:10px;">&#x2666;</h1>
                </div>                
              </div>
              <div fxFlex fxLayoutAlign="center center">
                <img src="assets/images/logo_3.png" width="150px" height="170px">
              </div>
              <div fxFlex fxLayoutAlign="center center"><h1 style="padding-left:10px;margin:0px">&#x2666;</h1></div>
            </div>            
          </div>          
          <div fxFlex="1">&nbsp;</div>
          <div fxFlex="10" fxLayoutAlign="center center">
            <h1 style="font-size: 30px;">{{ collegeName | uppercase }}</h1>
          </div>
          <div fxFlex="6" fxLayoutAlign="center center">
            <h2>{{ departmentName | uppercase }}</h2>
          </div>
          <div fxFlex="6" fxLayoutAlign="center center">
            <h2>Program</h2>
          </div>
          <div fxFlex="6" fxLayoutAlign="center center">
            <h2>Field of Study</h2>
          </div>        
          <div fxFlex="1">&nbsp;</div>
          <div fxFlex="50" fxLayout>
            <div fxFlex="60" fxLayoutAlign="center">
              <div style="position: relative; top: 10px; border:4px solid white; height: 90%; width: 70%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 350px;" />
              </div>
              <div style="position: absolute; border:4px solid #D4C06A; height: 40%; width: 40%;"></div>
            </div>
            <div fxFlex fxLayoutAlign="start center">
              <div fxLayout="column">
                <div fxFlex>Name</div>
                <div fxFlex="5">&nbsp;</div>
                <div fxFlex>Distinction GPA</div>
              </div>              
            </div>                          
          </div>
          <div fxFlex="1">&nbsp;</div>
          <div fxFlex fxLayoutAlign="center">
            <h2>2019/2020</h2>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="65">
      <mat-card style="background-color: #005daa; height: 100%;">
        <div fxLayout="column" style="height: 100%;">
          <div fxFlex="50" fxLayout>
            <div fxFlex>
              <div fxLayout="column" style="height: 100%; width: 100%;">
                <div fxFlex="90">
                  <div style="position: relative; left: 15px; top: 30px; border:4px solid white; height: 85%; width: 83%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                    <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 400px;" />
                  </div>
                  <div style="position: absolute; left: 50px; top: 30px; border:4px solid #D4C06A; height: 40%; width: 20%;"></div> 
                </div>
                <div fxFlex fxLayoutAlign="center center">
                  <h2>Name</h2>
                </div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="column" style="height: 100%; width: 100%;">
                <div fxFlex="90">
                  <div style="position: relative; left: 15px; top: 30px; border:4px solid white; height: 85%; width: 83%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                    <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 400px;" />
                  </div>
                  <div style="position: absolute; left: 450px; top: 30px; border:4px solid #D4C06A; height: 40%; width: 20%;"></div> 
                </div>
                <div fxFlex fxLayoutAlign="center center">
                  <h2>Name</h2>
                </div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="column" style="height: 100%; width: 100%;">
                <div fxFlex="90">
                  <div style="position: relative; left: 15px; top: 30px; border:4px solid white; height: 85%; width: 83%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                    <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 400px;" />
                  </div>
                  <div style="position: absolute; left: 842px; top: 30px; border:4px solid #D4C06A; height: 40%; width: 20%;"></div> 
                </div>
                <div fxFlex fxLayoutAlign="center center">
                  <h2>Name</h2>
                </div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="column" style="height: 100%; width: 100%;">
                <div fxFlex="90">
                  <div style="position: relative; left: 15px; top: 30px; border:4px solid white; height: 85%; width: 83%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                    <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 400px;" />
                  </div>
                  <div style="position: absolute; left: 1242px; top: 30px; border:4px solid #D4C06A; height: 40%; width: 20%;"></div> 
                </div>
                <div fxFlex fxLayoutAlign="center center">
                  <h2>Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="50" fxLayout>
            <div fxFlex>
              <div fxLayout="column" style="height: 100%; width: 100%;">
                <div fxFlex="90">
                  <div style="position: relative; left: 15px; top: 30px; border:4px solid white; height: 85%; width: 83%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                    <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 400px;" />
                  </div>
                  <div style="position: absolute; left: 50px; top: 480px; border:4px solid #D4C06A; height: 40%; width: 20%;"></div> 
                </div>
                <div fxFlex fxLayoutAlign="center center">
                  <h2>Name</h2>
                </div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="column" style="height: 100%; width: 100%;">
                <div fxFlex="90">
                  <div style="position: relative; left: 15px; top: 30px; border:4px solid white; height: 85%; width: 83%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                    <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 400px;" />
                  </div>
                  <div style="position: absolute; left: 450px; top: 480px; border:4px solid #D4C06A; height: 40%; width: 20%;"></div> 
                </div>
                <div fxFlex fxLayoutAlign="center center">
                  <h2>Name</h2>
                </div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="column" style="height: 100%; width: 100%;">
                <div fxFlex="90">
                  <div style="position: relative; left: 15px; top: 30px; border:4px solid white; height: 85%; width: 83%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                    <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 400px;" />
                  </div>
                  <div style="position: absolute; left: 842px; top: 480px; border:4px solid #D4C06A; height: 40%; width: 20%;"></div> 
                </div>
                <div fxFlex fxLayoutAlign="center center">
                  <h2>Name</h2>
                </div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="column" style="height: 100%; width: 100%;">
                <div fxFlex="90">
                  <div style="position: relative; left: 15px; top: 30px; border:4px solid white; height: 85%; width: 83%; padding-left: 20px; padding-right: 10px; overflow: hidden;">
                    <img src="assets/images/phds/muktar_jemal.jpg" style="max-width: 400px; max-height: 400px;" />
                  </div>
                  <div style="position: absolute; left: 1242px; top: 480px; border:4px solid #D4C06A; height: 40%; width: 20%;"></div> 
                </div>
                <div fxFlex fxLayoutAlign="center center">
                  <h2>Name</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>  
    </div>
  </div>
</div>