h1, h2 {
    font-weight: bolder;
}

h2 {
    color: rgb(238, 46, 78);
}

h1 {
    color: rgb(50, 127, 189);
}

.logo_one {
    width: 400px;
    height: 200px;
}

.logo_one_xl {
    width: 700px;
    height: 350px;
}

.logo_two {
    width: 150px;
    height: 170px;
}

.logo_two_xl {
    width: 240px;
    height: 260px;
}

/* ================================ */

.effect3d {
    animation-name: effect3d;
    animation-duration: 1s;
    animation-fill-mode: both;    
    animation-iteration-count: infinite;
}

@keyframes effect3d {
    to {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
    }
}