<div>
    <div fxLayout="column" style="height: 100%;" 
            fxLayoutGap="60px" 
            fxLayoutAlign="center center">
        <div fxFlex="60" 
                fxFlex.xl="90" 
                fxLayout="column"
                fxLayoutAlign="center center">            
            <div fxFlex>
                <img class="logo_one" [ngClass.xl]="'logo_one_xl'" src="assets/images/logo.png">
            </div>
            <div fxFlex style="margin-top: -80px;" [ngStyle.xl]="'margin-top: -120px;'">
                <img class="logo_two" [ngClass.xl]="'logo_two_xl'" src="assets/logo/logo.png">
            </div>
            <div fxFlex="40">&nbsp;</div>            
        </div>
        <div fxFlex>
            <h1 style="font-size: 40px;" [ngStyle.lg]="'font-size: 60px;'" [ngStyle.xl]="'font-size: 100px;'" class="effect3d">
                {{ "AAU 2019/20 Virtual Commencement" | uppercase }}
            </h1>
        </div>
        <div fxFlex>
            <h2 [ngStyle.lg]="'font-size: 40px;'" [ngStyle.xl]="'font-size: 60px;'"  class="effect3d">July 25, 2020</h2>
        </div>
        <div fxFlex="5" fxFlex.xl="10">
            <div fxLayout fxLayoutGap="100px">
                <div fxFlex fxLayoutAlign="center" fxLayout="column">
                    <div fxFlex fxLayoutAlign="end" style="margin-right: -70px; margin-bottom: -40px;">
                        <img src="assets/logo/grad_cap_left.png" 
                                style="height: 100px; width: 200px; transform: rotate(30deg); z-index: 1;"
                                [ngStyle.lg]="'height: 60px; width: 140px;'" />
                    </div>
                    <div fxFlex>
                        <button mat-raised-button color="primary" (click)="openPages('PhD');"
                                [ngStyle.lg]="'padding: 30px;'"
                                [ngStyle.xl]="'padding: 50px;'">
                            <span class="btn-title" 
                                    [ngStyle.lg]="'font-size: 40px;'"
                                    [ngStyle.xl]="'font-size: 60px;'">PhD<br/><br/> Graduates</span>
                        </button>
                    </div>                                        
                </div>
                <div fxFlex fxLayoutAlign="center">
                    <div fxFlex fxLayoutAlign="center" fxLayout="column">
                        <div fxFlex fxLayoutAlign="end" style="margin-right: -70px; margin-bottom: -60px;">
                            <img src="assets/logo/grad_cap_left.png" 
                                    style="height: 100px; width: 200px; transform: rotate(30deg); z-index: 1;"
                                    [ngStyle.lg]="'height: 60px; width: 140px;'" />
                        </div>
                        <div fxFlex>
                            <button mat-raised-button color="primary" (click)="openPages('MSc');"
                                    [ngStyle.lg]="'padding: 30px;'"
                                    [ngStyle.xl]="'padding: 50px;'">
                                <span class="btn-title" 
                                    [ngStyle.lg]="'font-size: 40px;'" 
                                    [ngStyle.xl]="'font-size: 60px;'">Masters<br/><br/> Graduates</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div fxFlex>
                    <div fxFlex fxLayoutAlign="center">
                        <div fxFlex fxLayoutAlign="center" fxLayout="column">
                            <div fxFlex fxLayoutAlign="end" style="margin-right: -70px; margin-bottom: -60px;">
                                <img src="assets/logo/grad_cap_left.png" 
                                        style="height: 100px; width: 200px; transform: rotate(30deg); z-index: 1;"
                                        [ngStyle.lg]="'height: 60px; width: 140px;'" />
                            </div>
                            <div fxFlex>
                                <button mat-raised-button color="primary" (click)="openPages('BSc');"
                                        [ngStyle.lg]="'padding: 30px;'"
                                        [ngStyle.xl]="'padding: 50px;'">
                                    <span class="btn-title"
                                            [ngStyle.lg]="'font-size: 40px;'"
                                            [ngStyle.xl]="'font-size: 60px;'">First Degree<br/><br/> Graduates</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>